body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
overflow-x: hidden;
    width: 100%
}
.cursor-header{
  display: flex;
  position: fixed;
  color: #fff;
  z-index: 1000000 ;
  mix-blend-mode: difference;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
 padding: 30px 0;
 letter-spacing: 1px;
 background-color: #0000;
}
.cursor-header a{
  padding-left: 40px;
}
.cursor-header div{
  padding-right: 40px;

}
.hero{

    align-items: flex-end;
    width: 100%;
}
.hero-container{
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 300vh;
    display: flex;
    position: relative;

}
.hero-content{
    background-color: #000;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    display: flex
;
    position: sticky;
    top: 0;
    overflow: hidden;
    will-change: background;

}
.hero-heading{
    color: white;
    line-height: 100%;
    font-size: 13vw;
    text-align: center;
    margin: 0;
    mix-blend-mode: difference;  
    font-weight: 400;
    position: absolute;
    z-index: 20;
    margin-top: 20px;
}
.cursor-row{
    justify-content: center;
    align-items: center;
    display: flex
;
}
.cursor-image{
    aspect-ratio: 1;
    background-image: url("../images/8.svg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 15vw;
    position: relative;
}
.cursor-image._01{
      transform: rotate(152deg) ;

}

/* section 2 */
.intro-text{
    text-indent: 15%;
    font-size: 3.5vw;
    background-color: white;
    line-height: 110%;
    color:black;
    padding: 5rem 2rem;
    /* padding-bottom: 10rem; */
}
.text-table{
  background-color: #fff;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 40px;
    margin-right: 40px;
    display: flex
;
}
.table-row{
    perspective: 1000px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    /* height: 30vh; */
    margin-bottom: -1px;
    overflow: hidden;
    color: #000;
}
.count{
    aspect-ratio: 1;
    text-align: center;
    mix-blend-mode: difference;
   
    width: 200px;
    height: 200px;
    font-size: 180px;
    font-weight: 300;

    justify-content: center;
    display: flex;
    align-items: center;
}
.b-r{
  width: 100%;
    display: inline-block;
    align-items: center;
    height: 90%;
    border-right: 1px solid #000;
    display: flex
;
    justify-content: center;
}
.table-right{
    z-index: 2;

    background-color: #fff;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding: 0 0 0 40px;
    display: flex
;
    position: relative;
    color: #000;
    position: absolute;
    top: 0px;
    font-size: 4vw;
    width: 50%;
}


.cursor-footer{
    width: 100%;
     height: 400px;
     box-sizing: border-box;
     justify-content: center;
    align-items: flex-end;
    display: flex;
    padding:60px;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}
.cursor-footer a{
  cursor: pointer;
 }
 
.legal{
  position: absolute;
  left: 40px;
}
.label-box {
  padding: 40px;
}
.label {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Elysian, Georgia, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
}
.tag{
    justify-content: center;
    align-items: center;
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 25px;
    z-index: 1;
    color: #000;
    background-color: #000;
    border-radius: 100px;
height: fit-content;
    text-decoration: none;
    transform: skew(0deg);
    color: #fff;
    justify-self: center;
    font-size: 24px;
    font-weight: 300;
 text-transform: uppercase;
}

  
  .simple-text,  .simple-text-2 {
    
    font-size: 7vw;
    font-style: italic;
    font-weight: 300;

    min-width: 300%;
    gap: 2rem;
    color: #000;
  }



  .x-text, .x-text-2 {
    display: flex;
    background-color: #fff;
    overflow: hidden;
    white-space: nowrap;
  }
  .simple-text-2 {
    font-weight:500
  }
  
  .simple-text ,  .simple-text-2{
    display: flex;
    align-items:center;
  }

  .visual-feed{
    padding-bottom: 50vh;
    width: 100%;
    position: relative;
    background-color: #fff;
    will-change: background;
  }
  .visual-text{
    z-index: 4100;
    color: #fff;
    text-align: center;
    font-size: 13vw;
    line-height: 100%;
  }
  .wrapper{
    mix-blend-mode: difference;
position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    display: flex
;
    position: sticky;
    top: 0;
    bottom: 0;
    z-index: 40;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    flex-flow: column;

  }
  .text-block{
    font-size: 20px;
    color: #fff;
  }
  .grid-box{
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 40px;
    margin-right: 40px;
    display: flex
;
  }
  .item-1{
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    flex-flow: column;
    align-items: stretch;
    width: 45%;
    margin-top: 10%;
    margin-right: 0%;
    display: flex
;
    position: relative;
    overflow: hidden;
  }
  .text-container{
    width: 100%;
    position:absolute;
    top: 0;
    bottom: 0  ;
  }
  .item-2{
    z-index: 220;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    flex-flow: column;
    align-items: stretch;
    width: 45%;
    margin-top: 10%;
    margin-right: 0%;
    display: flex
;
    position: relative;
    overflow: hidden;
    margin-top: 40%;
  }
  .item-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
 
    inset: 0%;
    display: inline-block;
    aspect-ratio: 1;
    object-fit: cover;
  }

  ._02{
    transform: rotate(165deg) ;
  }
  ._03{
    transform: rotate(200deg) ;
  }
  ._04{
    transform: rotate(240deg) ;
  }
  ._05{
    transform: rotate(260deg) ;
  }
  ._06{
    transform: rotate(120deg) ;
  }

  ._07{
    transform: rotate(125deg) ;
  }
  ._09{
    transform: rotate(290deg) ;
  }
  ._10{
    transform: rotate(300deg) ;
  }
  ._11{
    transform: rotate(75deg) ;
  }
  ._12{
    transform: rotate(85deg) ;
  }
  ._13{
    transform: rotate(30deg) ;
  }
  ._14{
    transform: rotate(-25deg) ;
  }
  ._15{
    transform: rotate(-15deg) ;
  }

  .item-3{
    z-index: 0;
    width: 80%;
    margin-left: 10%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    flex-flow: column;
    align-items: stretch;

    margin-top: 10%;
    margin-right: 0%;
    display: flex
;
    position: relative;
    overflow: hidden;
  }
  .item-img-2{
    object-fit: cover;
    width: 100%;
    height: 100%;
  
    max-width: 100%;
    display: inline-block;
    aspect-ratio: 1;
    object-fit: cover;
  }

  .item-4{
  
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    flex-flow: column;
    align-items: stretch;
    width: 45%;
margin-top: -5%;
    margin-right: 0%;
    display: flex
;
    position: relative;
    overflow: hidden;
  }
  .item-img-4{
    object-fit: cover;
  width: 100%;
  
    max-width: 100%;
    display: inline-block;
  }

  @media (max-width: 1000px) {
  .hero-content{
    flex-flow:row;
  }
  .cursor-row {
    flex-direction: column;
  }
  .cursor-image {
    width: 33vw;  
  }
  .hero-heading{
    font-size: 21vw;
  }
  .count{
    font-size: 100px;

  }
  .b-r{
    height: 75%;
  }
  }
  @media screen and (max-width: 479px) {
    .count {
        width: 60px;
        font-size: 48px;
        height:118px;
    }
    .table-right{
      font-size: 18px;
      padding-left: 20px;
    }
    .text-table {
      margin-left: 10px;
      margin-right: 10px;
}
.tag{
  font-size:12px;
  padding: 4px 14px;
  
}
.simple-text, .simple-text-2 {
  font-size: 24px;
  gap:1rem;
  padding-top: 1rem;
}
}
@media screen and (max-width: 769px) {
  .cursor-header a{
    padding-left: 10px;
  }
  .cursor-header div{
    padding-right: 10px;
  }
  .simple-text, .simple-text-2 {
 
    padding-top: 1rem;
  }
  .grid-box {
      margin-left: 10px;
      margin-right: 10px;
      grid-column-gap: 0px;
  }
}
@media screen and (min-width: 2000px) {
  .table-right{
    font-size: 80px;
  }

  
}