
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
overflow-x: hidden;
    width: 100%;

    font-family: "Inter", sans-serif;
 z-index: 0;
 
  
}

.logo-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: 0px auto;
    height: 60vh;
    color: black;
    z-index: 1;
  }
  
  .harison {
    z-index: 1;
    width: 100%;
    height: 100vh;
    height: 236px;
    width: 100%;
    margin: auto;
  
  }
 
  .logo-top {
    clip-path: inset(0% 0 0 0); 
    z-index: 1;
    position: absolute;

  }
  
  .logo-bottom1 {
    clip-path: inset(82% 0 0% 0);
    z-index: 1;
    position: absolute;
    /* height: unset; */
    top: 15%;
    
  }
  .logo-bottom2 {
    clip-path: inset(85% 0 0% 0);
    z-index: 1;
    position: absolute;
    top: 26%;
 
  }
  .logo-bottom3 {
    clip-path: inset(90% 0 0% 0);
    z-index: 1;
    position: absolute;
    top: 35%;
  }
  
.header{
    display: flex;
    align-items: center;
   

}
header{
  flex: none;
  height: auto;

  position: sticky;
  top: 0;
  width: 100%;
  will-change: transform;
  z-index: 100000;
  color: white;
  mix-blend-mode: difference;
}
.left{
    width: 50%;
    mix-blend-mode: difference;
    position: relative;
    z-index: 1000;
    filter: invert(1);

}
.right{
    width: 50%;
    display: flex;

    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}
.work-box{
    display: flex;
gap:5px;
cursor: pointer;
}
.header-anchor{
    font-weight: 700;
    font-size: 24px;

}

.boxx{
    width: 97%;
    margin: auto;
}
.header{
  padding: 16px 0px;
}
footer{
  padding: 107px 20px 40px;
  background-color: white;
}
.footer-container{
  display: flex
  ;
      flex: 1 0 0px;
      flex-direction: column;
      flex-wrap: nowrap;
      gap: 40px;
      height: 100%;
      justify-content: flex-start;
      border-top: 1px solid rgba(128, 128, 128, 0.322);
}
.footer-top{
  display: flex;
  flex-direction: row;
}
.footer-left{
  align-items: flex-start;
  display: flex
;
  flex: 2 0 0px;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 70px;
  height: 100%;
  position:relative;
  justify-content: flex-start;
  padding: 40px 40px 0 0;
  border-right: 1px solid rgba(128, 128, 128, 0.322);
}

.footer-text{
  font-size: 72px;
  letter-spacing: -0.04em;
  font-weight: 600;
  margin-top:0px;
}
.video-grid{
display: flex;
flex-direction: column;
position: absolute;
right:0;
top:25%;
right:4%;
}
.video-grid span{
  color:gray
}
.video-grid p{
  margin-bottom: 0px;
}
.right-top{
  display: flex;
  flex-direction: row;
 gap:15px;
}
.footer-right{
  padding-left:40px;
  padding-top:40px;

}
.right-top p{
  width:150px;
  color:gray;
  
  margin: 0;
}

.dot{
  height:6px;
  width:6px;
  background:black;
  border-radius:200px;
  margin-right:10px;
}
.services-content{
  display: flex;
  flex-direction: column;
  gap:10px;
}
.icons{
  display: flex;
  gap: 22px;

}
.footer-right{
  display:flex;
  flex-direction: column;
  gap:80px;
}
.right-bottom{
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.right-bottom span{
  font-size:27px;
  font-weight:700;
}
.purchase{
  font-size:25px;
  font-weight:700;
  background:black;
  color:white;
  border-radius:100px;
  margin:0;
  padding: 4px 10px;
}

.footer-bottom{
  padding: 40px 0 0;
  border-top: 1px solid rgba(128, 128, 128, 0.322);
  display:flex;
  justify-content:space-between;

}
.footer-btn{
  background:#D9D9D9;
  border-radius: 100px;
  font-size: 27px;
  font-weight: 700;
  color: white;
  border: none;
  padding: 4px 12px;
  margin: 0;
}
.footer-links{
  font-size:13px;
color: gray;
}

.footer-bottom-left{
  display: flex;
  gap: 10px;
  overflow: hidden;
  align-items: center;
}
.hero-text{
  display: flex;
  justify-content: center;
  text-align:center;
  font-weight: 500;
}
.video-container{


  padding: 100px 0;
  position: relative;
  height: 350vh;
}
.video1,.video3{
  width: 100%;
  display: block;
  position: sticky;
  top: 0;
  z-index: 10;
}

.banner-full, .video3, .video1{
  width: 100%;
  display: block;
height: 100vh;
  position: sticky;
  top: 0;
  z-index: 10;
}
.slide-2,.slide-1,.slide-3{
  width: 100%;
  display: flex;
height: 100vh;
  position: sticky;
  top: 0;
  justify-content: center;
  z-index: 1000;
  width: 100%;
}
.video2,.center-banner, .banner-3{
position: absolute;
z-index: 1001 ;
top:50%;
left:50%;
transform: translate(-50%, -50%);
}
.video3,.video1{
  width: 100%;
  object-fit: cover;
}
.service-item:hover .dot{
 
  transform-origin: center center;
  transform: scale(1.8);
}
.service-item {
  width: 270px;
  height: min-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: 13px;
  position: relative;
  border-bottom: 1px solid rgba(128, 128, 128, 0.322);
  cursor: pointer; 
}

.bottom-border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: black;
  transform-origin: left;
  transform: scaleX(0); 
}
.bottom-b{
  height: 2px;
  width: 100%;
  background-color: black;
  transform-origin: left;
  transform: scaleX(0); 
}



.purchase {

color: white;
  border: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.purchase span {
  display: inline-block;
  color: white;

}
.work-container {
 
  padding: 0 20px;
  overflow: hidden; /* hide the scroll overflow */
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;


}

.horizontal-section {
  position: relative;
  height: 85vh;
  overflow: hidden;
}

.work-slider-content {
  display: flex;
  flex-direction: row;
  gap: 40px;
  height: 100%;

  will-change: transform;
width: max-content;

  flex-direction: row;
  z-index: 3;
  height: 100vh;
  position: absolute;
  top: 0;
  display: flex
;
  align-items: center;
  background: white;
  padding: 0 30px;
}

.slide-card {
  flex: 0 0 auto;
  width: 100vw;
  max-width: 560px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
}
.card-header{
  display:flex;
  justify-content: space-between;
  font-size: 13px;
  text-transform: uppercase;
  color: #B2B2B2;
  padding-bottom: 8px;
}

.slide-card h4{
font-size: 27px;
font-weight: 700;
margin: 0;
letter-spacing: -1px;
line-height: 30px;
width: fit-content;
}
.grayish{
  color:#B2B2B2;
}
.img-container{
  display: flex;
position: relative;
  justify-content: center;
  align-items: center;



}
.hover-img{
  position:absolute;
  z-index: 3;
  transform: scaleY(0); 
  
}
.main-img{
  object-fit:cover;

  /* clip-path: inset(0% 100% 0 0);  */

  object-position:center center;
}
.underline{
  width: max-content;
}

.scroll-main {
  display: flex;
  flex-direction: row;
  width: max-content;

}
.single-section {
  flex: none;
  width: 100vw;
  height: 100vh;
}

.bg-orange {
  background-color: rgb(15, 15, 15);
  ;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
  width: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
}
.img-bg{
  width:100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  position: relative;
  overflow: hidden;
  justify-content: center;
  height: 100vh;
  gap: 30px;
  opacity:0.15;
}
.img-bg img{

  object-fit: cover;
  object-position: center center;

}
.reel{
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 25px;

}

.marquee-track {
  display: flex;
  flex-direction: column;
  gap: 25px;
  animation: scrollDown 90s linear infinite;
}

@keyframes scrollDown {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}
.center-text{
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  backdrop-filter: blur(16px);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 999px;
  opacity: 1;
  padding: 20px 20px 20px 40px;
  transform: translate(-50%, -50%);
  z-index:1;
  cursor: pointer;

}
.center-text h1{
  font-size: 60px;
  margin:0;
  opacity: 1;
  display:flex;
  align-items:center;
  gap:30px;
  letter-spacing: -2px;
}
.big-dot{
  height: 12px;
    width: 12px;
    background: white;
    border-radius: 200px;
    margin-right: 10px;
    display: inline-block;
    
   margin-right: 20px;
    vertical-align: middle;
}
.center-text:hover .big-dot{
 
  transform-origin: center center;
  transform: scale(1.8);
}
.red-bg{
  background-color: red;
  height: 100vh;
  width: 100vw;

 

}
.work-page{
  width: 100%;
  

}
