
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
overflow-x: hidden;
    width: 100%;

    font-family: "Inter", sans-serif;
 z-index: 0;
 
  
}

.logo-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    /* justify-content: center; */
    margin: 0px auto;
    flex-direction: column;
    height: 60vh;
    color: black;
    z-index: 1;
  }
  
  .harison {
    z-index: 1;
    width: 100%;
    height: 100vh;
    height: 236px;
    width: 100%;
    margin: auto;
  
  }
 
  .logo-top {
    clip-path: inset(0% 0 0 0); 
    z-index: 1;
    /* position: absolute; */
    max-width: 100%;
    height: auto;
    margin: 0;

  }
  
  .logo-bottom1 {
    clip-path: inset(82% 0 0% 0);
    z-index: 1;
    position: absolute;
    /* height: unset; */
    top: 15%;
    max-width: 100%;
    height: auto;
    
  }
  .logo-bottom2 {
    clip-path: inset(85% 0 0% 0);
    z-index: 1;
    position: absolute;
    top: 26%;
    max-width: 100%;
    height: auto;
 
  }
  .logo-bottom3 {
    clip-path: inset(90% 0 0% 0);
    z-index: 1;
    position: absolute;
    top: 35%;
    max-width: 100%;
    height: auto;

  }
  
.header{
    display: flex;
    align-items: center;
   justify-content: space-between;
   width: 100%;

}
header{
  flex: none;
  height: auto;

  position: sticky;
  top: 0;
  width: 100%;

  z-index: 100000;
  color: white;
  mix-blend-mode: difference;
}
.left{
    width:100px;
    mix-blend-mode: difference;
    position: relative;
    z-index: 1000;
    filter: invert(1);

}
.right{

    display: flex;

    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}
.work-box{
    display: flex;
gap:5px;
cursor: pointer;
}
.header-anchor, .menu-tag{
    font-weight: 700;
    font-size: 24px;

}

.boxx{
    width: 97%;
    margin: auto;
}
.header{
  padding: 16px 0px;
}
footer{
  box-sizing: border-box;
  padding: 107px 20px 40px;
  background-color: white;
}
.footer-container{
  display: flex
  ;
      flex: 1 0 0px;
      flex-direction: column;
      flex-wrap: nowrap;
      gap: 40px;
      height: 100%;
      justify-content: flex-start;
      border-top: 1px solid rgba(128, 128, 128, 0.322);
}
.footer-top{
  display: flex;
  flex-direction: row;
}
.footer-left{
  align-items: flex-start;
  display: flex
;
  flex: 2 0 0px;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 70px;

  position:relative;
  justify-content: flex-start;
  padding: 40px 40px 0 0;
  border-right: 1px solid rgba(128, 128, 128, 0.322);
}

.footer-text{
  font-size: 72px;
  letter-spacing: -0.04em;
  font-weight: 600;
  margin-top:0px;
}
.video-grid{
  display: flex
  ;
      flex-direction: column;
      position: absolute;
      right: 0;
      bottom: 0;
}
.video-grid span{
  color:gray
}
.video-grid p{
  margin-bottom: 0px;
}
.right-top{
  display: flex;
  flex-direction: row;
 gap:15px;
}
.footer-right{
  padding-left:40px;
  padding-top:40px;

}
.right-top p{
  width:150px;
  color:gray;
  
  margin: 0;
}

.dot{
  height:6px;
  width:6px;
  background:black;
  border-radius:200px;
  margin-right:10px;
}
.services-content{
  display: flex;
  flex-direction: column;
  gap:10px;
}
.icons{
  display: flex;
  gap: 22px;

}
.footer-right{
  display:flex;
  flex-direction: column;
  gap:80px;
}
.right-bottom{
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.right-bottom span{
  font-size:27px;
  font-weight:700;
}
.purchase{
  font-size:25px;
  font-weight:700;
  background:black;
  color:white;
  border-radius:100px;
  margin:0;
  padding: 4px 16px;
}

.footer-bottom{
  padding: 40px 0 0;
  border-top: 1px solid rgba(128, 128, 128, 0.322);
  display:flex;
  justify-content:space-between;

}
.footer-btn{
  background:#D9D9D9;
  border-radius: 100px;
  font-size: 27px;
  font-weight: 700;
  color: white;
  border: none;
  padding: 4px 12px;
  margin: 0;
}
.footer-links{
  font-size:13px;
color: gray;
}

.footer-bottom-left{
  display: flex;
  gap: 10px;
  overflow: hidden;
  align-items: center;
}
.hero-text{
  display: flex;
  justify-content: center;
  text-align:center;
  font-weight: 500;
  width: 55%;
  margin: auto;
}
.video-container{


  padding: 100px 0;
  position: relative;
  height: 380vh;
}
.video1,.video3{
  width: 100%;
  display: block;
  position: sticky;
  top: 0;
  z-index: 10;
}

.banner-full, .video3, .video1{
  width: 100%;
  display: block;
height: 100vh;
  position: sticky;
  top: 0;
  z-index: 10;
}
.slide-2,.slide-1,.slide-3{
  width: 100%;
  display: flex;
height: 100vh;
  position: sticky;
  top: 0;
  justify-content: center;
  z-index: 1000;
  width: 100%;
}
.video2,.center-banner, .banner-3{
position: absolute;
z-index: 1001 ;
top:50%;
left:50%;
transform: translate(-50%, -50%);
}
.video3,.video1{
  width: 100%;
  object-fit: cover;
}
.service-item:hover .dot{
 
  transform-origin: center center;
  transform: scale(1.8);
}
.service-item {
  width: 270px;
  height: min-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: 13px;
  position: relative;
  border-bottom: 1px solid rgba(128, 128, 128, 0.322);
  cursor: pointer; 
}

.bottom-border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: black;
  transform-origin: left;
  transform: scaleX(0); 
}
.bottom-b{
  height: 2px;
  width: 100%;
  background-color: black;
  transform-origin: left;
  transform: scaleX(0); 
}



.purchase {

color: white;
  border: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.purchase span {
  display: inline-block;
  color: white;

}
.work-container {
 
  padding: 0 20px;
  overflow: hidden; /* hide the scroll overflow */
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;


}

.horizontal-section {
  position: relative;
  height: 85vh;
  overflow: hidden;
}

.work-slider-content {
  display: flex;
  flex-direction: row;
  gap: 40px;
  height: 100%;

  will-change: transform;
width: max-content;

  flex-direction: row;
  z-index: 3;
  height: 100vh;
  position: absolute;
  top: 0;
  display: flex
;
  align-items: center;
  background: white;
  padding: 0 30px;
}

.slide-card {
  flex: 0 0 auto;
  width: 100vw;
  max-width: 560px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
}
.card-header{
  display:flex;
  justify-content: space-between;
  font-size: 13px;
  text-transform: uppercase;
  color: #B2B2B2;
  padding-bottom: 8px;
}

.slide-card h4{
font-size: 27px;
font-weight: 700;
margin: 0;
letter-spacing: -1px;
line-height: 30px;
width: fit-content;
}
.grayish{
  color:#B2B2B2;
}
.img-container{
  display: flex;
position: relative;
  justify-content: center;
  align-items: center;



}
.hover-img{
  position:absolute;
  z-index: 3;
  transform: scaleY(0); 
  
}
.main-img{
  object-fit:cover;

  /* clip-path: inset(0% 100% 0 0);  */

  object-position:center center;
}
.underline{
  width: max-content;
}

.scroll-main {
  display: flex;
  flex-direction: row;
  width: max-content;

}
.single-section {
  flex: none;
  width: 100vw;
  height: 100vh;
}

.bg-orange {
  background-color: rgb(15, 15, 15);
  ;
  /* scrollbar-width: none;
  -ms-overflow-style: none; */
  width: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  
}
.img-bg{
  width:100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  position: relative;
  overflow: hidden;
  justify-content: center;
  height: 100vh;
  gap: 30px;
  opacity:0.15;
}
.img-bg img{

  object-fit: cover;
  object-position: center center;

}
.reel{
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 25px;

}

.marquee-track {
  display: flex;
  flex-direction: column;
  gap: 25px;
  animation: scrollDown 90s linear infinite;
}

@keyframes scrollDown {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}
.center-text{
  width: max-content;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  backdrop-filter: blur(16px);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 999px;
  opacity: 1;
  padding: 20px 20px 20px 40px;
  transform: translate(-50%, -50%);
  z-index:1;
  cursor: pointer;

}
.center-text h1{
  font-size: 60px;
  margin:0;
  opacity: 1;
  display:flex;
  align-items:center;
  gap:30px;
  letter-spacing: -2px;
}
.big-dot{
  height: 12px;
    width: 12px;
    background: white;
    border-radius: 200px;
    margin-right: 10px;
    display: inline-block;
    
   margin-right: 20px;
    vertical-align: middle;
}
.center-text:hover .big-dot{
 
  transform-origin: center center;
  transform: scale(1.8);
}
.red-bg{
  background-color: red;
  height: 100vh;
  width: 100vw;
}
.work-page{
  width: 100%;
}
.menu-tag{
  display:none;
}
.overlay-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 320px;
  background-color: #eee;
  z-index: 9999;
  display: flex;
  justify-content: space-between;

  box-sizing: border-box;
}
.left-links, .right-links{
  padding:18px;
  display: flex
;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;
}
/* Left section */
.left-links p {
  font-size: 27px;
  font-weight: bold;
  margin: 0;
 
}
.right p{
  cursor:pointer
}

/* Right section */
.right-links {
  text-align: right;
}

.right-links p {
  font-weight: 600;
margin: 0;
  font-size: 0.9rem;
}
footer{
  position: relative;
  z-index: 9998;


}
@media (max-width: 769px) {
  .big-dot{
    margin-right: 0;
  }
  .center-text h1 {
    gap: 10px;
    font-size: 21px;
    letter-spacing: normal;
  }
  .center-text{
    padding: 20px;
    width: max-content;
  }
.slide-card{
  width: auto;
  overflow: hidden;
}
.main-img {
  width: 100%;
  width: 342px;
}
.slide-card h4{
  font-size: 16px;
  line-height: normal;
  letter-spacing: normal;
  
}
.card-header{
  font-size: 10px;
}
}
footer{
  height:100vh;

}
.right-top-f{
  display: flex;
  flex-direction: column;
  gap:80px
}
.footer-top{
  height: -webkit-fill-available;
}
.footer-left,.footer-right{
  justify-content: space-between;
}


.footer-left-top {
  display: flex
;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  position: relative;
  width: 100%;
}



@media (max-width: 420px) {
  .left-links, .right-links{
    padding:10px;
  }
  .slide-card{
 
    width: 300px;
  }
 .work-slider-content{
  padding: 0 10px;
  gap:20px;
 }

  }

  @media (max-width: 1025px) {
   .footer-top{
flex-direction: column;
   }
   .right-top {
    flex-direction: column;
  }
  .right-top p {
    width: 100px
  }
  .services-content, .service-item{
    width: 100%;
  }
  .footer-right{
    padding-left: 0px;
      gap: 60px;
  }
  .footer-logo{
    width: 100%;
    height: auto;
  }
  .ff{
    flex-direction: row;
  }
  footer{
    padding-top: 2px;
  }

  .footer-text{
    font-size: 40px;
  }
  .logo-wrapper{
    height:35vh
   }
   /* .footer-btn{
    position: absolute;

    left: unset;
    transform: none;
    top:50%;
    right:0;
  } */

  .footer-bottom{

    position: relative;
  }
  .video-grid video{
    width: 370px;
    height: auto;
  }
    }

@media (max-width: 810px) {
  .footer-text {
    font-size: 27px;
}
footer{
  height:auto
}
 
  .hero-text{
    width: auto;
  }

  .harison-content{
    margin-top: 80px;
  }

 .header-anchor, .center-banner, .video2, .banner-3{
  display: none;
}
.slide-1, .slide-2, .slide-3{
  max-width:400px;
  width: 100%;
 
  margin: auto
}
.menu-tag{
  display:flex;
  margin: 0;
}
.harison-header{
  position: fixed;
}
header{
  background-color: white;
  color: black;
  mix-blend-mode: unset;
}
.left{

  mix-blend-mode: unset;
  filter: invert(0);
}
.boxx {
  width: 95%;
}
.footer-top{
  flex-direction: column;
}
.footer-left{
  flex-direction: column-reverse;
    padding-right: 0;
    border-right: 0px;
}

.video-grid{
  display: none;
}
.footer-logo{
  width: 100%;
  height: auto;
}



.right-bottom{
  flex-direction: column;
  gap: 30px;
}
.footer-top{
  flex-direction: column;
}
.footer-bottom{
  flex-direction: column;
  position: relative;
  padding-bottom: 100px;
}
.footer-btn{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}


}